body {
  font-family: 'Trebuchet MS';
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: white;
}

header, footer {
  background-color: #333;
  text-align: center;
  padding: 1rem 0;
}

.hero {
  background-color: #57A6A1;
  padding: 2rem;
  text-align: center;
}

.hero h1 {
  color: white;
}

.hero p {
  color: #240750;
  font-size: 1.2rem;
}

.hero-image {
  width: 50%;
  height: auto;
  margin-top: 1rem;
  border-radius: 10px;
}

.content {
  padding: 2rem;
  color: white;
}


.content-image {
  width: 50%;
  height: auto;
  margin: 1rem 0;
  border-radius: 10px;
}

.testimonials {
  padding: 2rem;
  text-align: center;
  color: white;
}


.testimonials p {
  font-size: 1rem;
  color: white;
}

blockquote {
  font-style: italic;
  margin: 1rem 0;
  color: white;
}

.testimonial-image {
  width: 50%;
  height: auto;
  margin-top: 1rem;
  border-radius: 10px;
}

p {
  margin-left: 200px;
  margin-right: 200px;
  color: white;
}

.spacing {
  margin-bottom: 50px;
}

.body-spacing {
  display: flex;
  flex-direction: row;
}

main {
  background-color: #240750;
}

.add-space1 {
  width: 20%;
}

.add-space2 {
  width: 20%;
}

* {
  color: white;
}