.nav_left {
  background-color: #240750;
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent;
  border-top: 4px solid #fff;
  color: #fff;
}

.nav-tabs .nav-link {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 30px 0 40px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-link {
  padding: 1rem 0.5rem;
  color: #fff;
}

.nav-link:focus,
.nav-link:hover {
  color: rgb(90, 155, 175);
}

.search_input {
  width:100%;
  border-radius: 10px;
  border: none;
  line-height: initial;
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
}

.search_input:focus-visible {
  outline: none;
}

input.search_input::placeholder {
  color: #cfd2ec;
  vertical-align: middle;
}

.search_img {
  top: 7px;
  right: 10px;
}

.navbar-toggler {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
}

h1 {
  font-family:cursive ;
  color: #3f0793;
  padding-top: 15px;
}
a {
  text-decoration: none; 
  color: #fff;
}

footer{
    background-color: #240750;
    color: #fff;
}


