* {
  margin: 0;
  box-sizing: border-box;
}
.nav {
  background-color: beige;
  display: flex;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  & li {
    &:hover {
      border-bottom: 2px solid rgb(177, 227, 177);
      cursor: pointer;
    }
  }
}

span {
  color: red;
  font-weight: 600;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}
li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}
